<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-center">添加新分类</h4>
    </div>
    <div cladd="panel-body">
        <div>&nbsp;</div>
        <div class="row input-group">
            <div class="col-md-offset-1 col-md-4">
                <input type="text" class="form-control" placeholder="分类ID" ng-model="currentID">
            </div>
            <div class="col-md-offst-2 col-md-4">
                <input type="text" class="form-control" placeholder="分类名称" ng-model="currentName">
            </div>
            <div class="col-md-1">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-primary" value="Save" ng-click="saveButton()">
                </span>
            </div>
            <div class="col-md-1">
                <span class="input-group-btn">
                    <input type="button" class="btn btn-primary" value="Cancel" ng-click="cancel()">
                </span>
            </div>
        </div>
        <div>&nbsp;</div>
    </div>
</div>
