<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="text-center">修改分类</h5>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label"></label>
            <input class="form-control" type="text" name="name" ng-model="updateObject.name">
        </div>
        <input type="hidden" ng-model="updateCategory.ID">
        <input type="button" value="修改" ng-click="updateCategory()" class="btn btn-primary">
    </div>
</div>
