<div class="jumbotron">
        <h1>Welcome To Let's Go!</h1>
        <label>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Let's go 是一家致力于打造第一品牌的网上超市。无论是百货商品，还是服饰、食物，我们应有尽有，足不出户便可尽享便利。快来选购吧！
                Let's go 是一家致力于打造第一品牌的网上超市。无论是百货商品，还是服饰、食物，我们应有尽有，足不出户便可尽享便利。快来选购吧！
                Let's go 是一家致力于打造第一品牌的网上超市。无论是百货商品，还是服饰、食物，我们应有尽有，足不出户便可尽享便利。快来选购吧！
                Let's go 是一家致力于打造第一品牌的网上超市。无论是百货商品，还是服饰、食物，我们应有尽有，足不出户便可尽享便利。快来选购吧！
                Let's go 是一家致力于打造第一品牌的网上超市。无论是百货商品，还是服饰、食物，我们应有尽有，足不出户便可尽享便利。快来选购吧！
            </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;Let's go 是一家致力于打造第一品牌的网上超市。无论是百货商品，还是服饰、食物，我们应有尽有，足不出户便可尽享便利。快来选购吧！
               Let's go 是一家致力于打造第一品牌的网上超市。无论是百货商品，还是服饰、食物，我们应有尽有，足不出户便可尽享便利。快来选购吧！
               Let's go 是一家致力于打造第一品牌的网上超市。无论是百货商品，还是服饰、食物，我们应有尽有，足不出户便可尽享便利。快来选购吧！
            </p>
        </label>
        <div class="text-center"><span><a href="#/shop" id="enter_button" class="btn btn-primary btn-lg text-center" role="button">马上选购</a></span></div>
</div>
